*           @SainyGb @samicoluiz @rafaeltenorio1 #Owner of            all paths
/.github/   @SainyGb @samicoluiz @rafaeltenorio1 #Owner of /.github/  filepath
/backend/   @yurilsn                             #Owner of /backend/  filepath
/frontend/  @Braz-Souza                          #Owner of /frontend/ filepath