#Owner of all paths
*           @SainyGb @samicoluiz @rafaeltenorio1 

#Owner of /.github/ filepath
/.github/   @SainyGb @samicoluiz @rafaeltenorio1 

#Owner of /backend/ filepath
/backend/   @yurilsn                             

#Owner of /frontend/ filepath
/frontend/  @Braz-Souza                          